/target
/.idea/copilot.data.migration.ask2agent.xml
ideas.txt
/debug-filter/impulse.jpg
/debug-filter/impulse.wav
/debug-filter/impulse_gen.png
/debug-filter/sweep.wav
/debug-filter/sweep_2.jpg
/debug-filter/sweep_gen.png
/debug-filter/sweep_half.jpg
/debug-filter/white_noise.jpg
/debug-filter/white_noise.wav
/debug-filter/white_noise_gen.png
